#homeContainer{
    background: url('/src/pics/Arenal_Volcano.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.insideHome{
    color:black;
    font-size:44px;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
}